<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Canoe</h2>

    <table style="width:100%">
    <tr>
      <td>Ride</td>
      <td>Cost Max</td>
      <td>Cost Min</td>
      <td>Distance</td>
      <td>Trip Duration</td>
      <td>ETA</td>   
    </tr>

    <tr ng-repeat='est in lyftEstimates'>
      <td>{{est.display_name}}</td>
      <td>{{est.estimated_cost_cents_max / 100 | currency}}</td>
      <td>{{est.estimated_cost_cents_min / 100 | currency}}</td>
      <td>{{est.estimated_distance_miles + ' miles'}}</td>
      <td>{{est.estimated_duration_seconds | secondsToMinutes}}</td>
      <td>{{est.eta_seconds | secondsToMinutes}}</td>
    </tr>

    <tr ng-repeat='est in uberEstimates'>
      <td>{{est.localized_display_name}}</td>
      <td>{{est.high_estimate | currency}}</td>
      <td>{{est.minimum | currency}}</td>
      <td>{{est.distance + ' miles'}}</td>
      <td>{{est.duration | secondsToMinutes}}</td>   
    </tr>
    </table>

  </ion-content>
</ion-view>
